{% extends "base.html" %}
{% block body %}
<div class="container">
    <div class="page-header">
        <h1>{{ task.title }}</h1>
    </div>
    <div class="row">
        <div class="col-sm-9">
            <p class="lead">
                {{ task.description }}
            </p>
        </div>
        <div class="col-sm-3 task-control">
            <select class="selectpicker form-control" name="status">
                {% for list in lists %}
                <option data-icon="glyphicon-{{icons[list.icon]|lower}}" {% if list.id == task.list_id %} selected {% endif %} value="{{list.id}}">{{ list.title }}</option>
                {% endfor %}
            </select>
            <div class="btn-group btn-group-justified" role="group">
				<a href="{{ url_for('edit_task', task_id=task.id) }}" id="edit-task" class="btn btn-link"><span class="glyphicon glyphicon-cog"></span>Edit</a>
                <a href="{{ url_for('task', task_id=task.id) }}" id="delete-task" class="btn btn-link"><span class="glyphicon glyphicon-trash"></span>Remove</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
