{% extends "base.html" %}
{% block body %}
<script type="text/javascript" charset="utf-8">
    var namespace = "/board/{{ board.id }}";
    var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

    socket.on('connect', function() {
        socket.emit('message', {data: 'I\'m connect ' + namespace });
    });

    socket.on('task_update', function(data) {
        $.ajax({
            url: "{{ url_for('list_container', board_id=board.id) }}",
            type: 'GET',
            success: function(result) {
               $('.list-container').replaceWith(result);
            }
        });
    });

    socket.on('board_delete', function(data) {
        window.location = "{{ url_for('boards') }}"
    });
</script>
<div class="container board">
    {% if board %}
        <div class="well well-lg">
            <h4>{{ board.title }} <small>{{ board.description }}</small></h4>
            <div class="btn-group task-control" role="group">
                <a href="{{ url_for('new_list', board_id=board.id) }}" class="btn btn-link new-item"><span class="glyphicon glyphicon-plus"></span>New List</a>
                <a href="/board/{{board.id}}/edit" id="edit-board" class="btn btn-link"><span class="glyphicon glyphicon-cog"></span>Edit Board</a>
                <button id="delete-board" class="btn btn-link" href="/board/{{board.id}}"><span class="glyphicon glyphicon-trash"></span>Delete</button>
            </div>
        </div>
    {% else %}
        HELO
    {% endif %}

    {% include "list/list_container.html" %}
</div>
{% endblock %}
