<!DOCTYPE html>
<html>
    <head>
        <link rel=stylesheet href="{{ url_for('static',filename='css/bootstrap.css') }}">
        <link rel=stylesheet href="{{ url_for('static',filename='css/bootstrap-select.css') }}">
        <link rel=stylesheet href="{{ url_for('static',filename='css/jquery-ui.min.css') }}">
        <link rel=stylesheet href="{{ url_for('static',filename='css/application.css') }}">
        <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='js/jquery-ui.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
        <script src="{{ url_for('static', filename='js/bootstrap-select.js') }}"></script>
        <script src="{{ url_for('static', filename='js/socket.io.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/application.js') }}"></script>
        <title>FlaskTasks</title>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ url_for('index') }}">FlaskTasks</a>
                </div>
                {% if current_user.is_authenticated %}
                <ul class="nav navbar-nav">
                    <li class="{{ url_for('boards') | is_current_page }}">
                        <a href="{{ url_for('boards') }}">Boards</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/logout">Logout</a></li>
                </ul>
                {% endif %}
            </div>
        </nav> 
        {% block body %}{% endblock %}
    </body>
</html>
