{% extends "base.html" %}
{% block body %}
<script type="text/javascript" charset="utf-8">
    var namespace = "/boards";
    var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

    function reload_board_container() {
        $.ajax({
            url: "{{ url_for('board_container') }}",
            type: 'GET',
            success: function(result) {
               $('#board-container').replaceWith(result);
            }
        });
    }

    socket.on('board_delete', function(data) {
        reload_board_container();
    });

    socket.on('board_create', function(data) {
        reload_board_container();
    });
</script>
<div id="message-box">
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category,message in messages %}
        <h4 id="flash-message" class="{{category}}-message">{{ message }}</h4>
        {% endfor %}
    {% elif error %}
        <h4 id="flash-message" class="error-message">{{ error }}</h4>
    {% endif %}
{% endwith %}
</div>
{% include 'board/board_container.html' %}
{% endblock %}
