<div class="panel panel-default list">
    <div class="panel-heading">
        <h3 class="panel-title">{{ list.title }}
            <span class="glyphicon glyphicon-{{ icons_rev[list.icon]|lower|replace('_','-') }}"></span>
            <span><a class="btn btn-link new-item" href="/list/{{list.id}}/tasks/new"><i class="glyphicon glyphicon-plus"></i> New Task</a></span>
            <div class="pull-right">
                <a id="edit-list" class="btn btn-link" href="/list/{{list.id}}/edit"><i class="glyphicon glyphicon-cog"></i></a>
                <button id="delete-list" class="btn btn-link" href="/list/{{list.id}}"><i class="glyphicon glyphicon-trash"></i></button>
            </div>
        </h3>
    </div>
    <div class="panel-body">
        <div class="list-group item-list">
            {%- set tasks=list.get_tasks() %}
            {% for task in tasks %}
            <li>
            <a href="{{ url_for('task', task_id=task.id) }}" class="list-group-item {{ 'tagged tag-' + colors_rev[task.color].lower() }} row">
                <h4 class="list-group-item-heading">{{ task.title }}</h4>
                <p class="list-group-item-text">{{ task.description }}</p>
            </a>
            </li>
            {% endfor %}
        </div>
    </div>
</div>
